.primary-color {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  border: none;
  outline: none;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}

.primary-btn {
  background-color: #61dafb;
  color: #000;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
  border-radius: 6px;
}

.primary-btn:hover {
  background-color: #000;
  color: #61dafb;
}
